@media (max-width: 768px) {

    /* SECTION CONTACT CONTAINER */
    .section-contact-container {
        padding: 6.4rem 4.8rem;
    }

    .section-contact-container::before {
        font-size: 14rem;
    }

    /* HEADER SECTION CONTACT CONTAINER */
    .header-section-contact-container h4 {
        width: 48rem;
        font-size: 3.2rem;
    }

    .header-section-contact-container p {
        font-size: 1.2rem;
    }

    .section-contact-container a:link ion-icon,
    .section-contact-container a:visited ion-icon {
        font-size: 1.6rem;
    }

    .section-contact-container a:link span,
    .section-contact-container a:visited span {
        font-size: 1.4rem;
    }

}