@media (max-width: 768px) {
    /* SECTION PROJECTS CONTAINER */
    .section-projects-container {
        gap: 3.2rem;
        padding: 3.2rem 0;
    }

    /* HEADER SECTION PROJECTS CONTAINER */
    .header-section-projects-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        padding: 0 3.2rem;
    }

    .header-section-projects-container h2 {
        font-size: 3.2rem;
    }

    /* PROJECTS CARDS CONTAINER */
    .div-projects-cards-container {
        grid-template-columns: 1fr;
    }

    /* PROJECTS CARD CONTAINER */
    .div-projects-card-container {
        gap: 1.6rem;
        padding: 3.2rem;
        border-bottom: 0.2rem solid var(--border-primary);
    }

    .div-projects-card-container[id] {
        grid-column: unset;
        grid-template-columns: 1fr;
        gap: 2.4rem;
        border: unset;
        border-bottom: 0.2rem solid var(--border-primary);
    }

    .reverse.div-projects-card-container[id] .div-projects-card-overview-container {
        order: unset;
    }

    .div-projects-card-container:nth-child(2)::after,
    .div-projects-card-container:nth-child(5)::after,
    .div-projects-card-container:nth-child(8)::after {
        all: unset;
    }

    .div-projects-card-container > a:link,
    .div-projects-card-container > a:visited {
        top: 2.4rem;
        right: 2.4rem;
    }

    /* PROJECTS CARD OVERVIEW CONTAINER */
    .div-projects-card-overview-container > a:link,
    .div-projects-card-overview-container > a:visited {
        right: 0;
    }

    /* PROJECT CARD THUMBNAIL CONTAINER */
    .div-projects-card-thumbnail-container {
        gap: 0.8rem;
        height: 16rem;
    }

    .div-projects-card-thumbnail-container ion-icon {
        font-size: 4.8rem;
    }
}

@media (max-width: 576px) {
    /* HEADER SECTION PROJECTS CONTAINER */
    .header-section-projects-container {
        padding: 0 2.4rem;
    }

    .header-section-projects-container h2 {
        font-size: 2.4rem;
    }

    /* PROJECTS CARD CONTAINER */
    .div-projects-card-container {
        padding: 2.4rem;
    }

    /* HEADER PROJECT CARD OVERVIEW CONTAINER */
    .header-projects-card-overview-container span {
        font-size: 1rem;
    }

    .header-projects-card-overview-container h2 {
        font-size: 2.4rem;
    }
}
