* {
    margin: 0;
    padding: 0;
    font-family: var(--font-mono);
    text-decoration: unset;
    color: var(--text-primary);
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--container-primary);
}

ul {
    list-style: none;
}