:root {
    /* FONTS */
    --font-display: "Syne", sans-serif;
    --font-mono: "DM Mono", monospace;
}

html[data-theme="dark"] {
    /* ACCENT COLORS */
    --accent-primary: #e8ff3c;
    --accent-secondary: #ff4d6d;

    /* TEXT COLORS */
    --text-primary: #e8e8f0;
    --text-secondary: #7a7a9a;
    --text-muted: #44445a;

    /* CONTAINER COLORS */
    --container-primary: #0a0a0f;
    --container-surface: #111118;

    /* BORDER COLORS */
    --border-primary: #1e1e2e;
}

html[data-theme="light"] {
    /* ACCENT COLORS */
    --accent-primary: #7a8e00;
    --accent-secondary: #d93055;

    /* TEXT COLORS */
    --text-primary: #111118;
    --text-secondary: #52524a;
    --text-muted: #9e9e8e;

    /* CONTAINER COLORS */
    --container-primary: #f4f4ef;
    --container-surface: #eaeae3;

    /* BORDER COLORS */
    --border-primary: #d0d0c4;
}